*::after, *::before{
  	box-sizing: border-box;
} 

body {
	margin: 0;
}

.square {
	width:max-content;
	height: max-content;
	border: 1px solid black;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.snake-dot {
	background-image: linear-gradient(rgb(25, 100, 2), yellow, green);
	width: 40px;
	height: 40px;
}

.food-dot {
	background-color:hotpink;
	width: 40px;
	height: 40px;
}

.dot {
  border: 1px solid black;
  	/* background-image: linear-gradient(rgb(25, 100, 2), yellow, green); */
	width: 40px;
	height: 40px;
}

